[submodule "excons"]
	path = excons
	url = git://github.com/gatgui/excons
[submodule "libtiff"]
	path = libtiff
	url = git://github.com/gatgui/libtiff
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = git://github.com/gatgui/libjpeg-turbo
